<!DOCTYPE html>
<html lang="<%= translations.languageCode %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= translations.poemsFor %> <%= userName %></title>
    <link rel="stylesheet" href="/styles/style-poems.css" />
  </head>
  <body>
    <h1><%= translations.poemsFor %> <%= userName %></h1>
    <div>
      <% poems.forEach(function(poem) { %>
      <div class="poem-container">
        <h2><%= translations.poemStyle %>: <%= poem.styleOfPoem %></h2>
        <p>
          <strong><%= translations.ageGroup %>:</strong> <%= poem.ageGroup %><br />
          <strong><%= translations.letters %>:</strong> "<%= poem.letters %>"<br />
          <strong><%= translations.prompt %>:</strong> "<%= poem.prompt %>"<br />
        </p>
        <p><%- poem.poem.replace(/\n/g, '<br />') %></p>

        <!-- Social Share Buttons -->
        <div class="share-buttons">
          <a
            href="https://twitter.com/intent/tweet?url=<%= encodeURIComponent(apiUrl + '/poems/' + poem._id) %>"
            target="_blank"
            class="share-twitter"
          >
            <%= translations.shareTwitter %><br />
          </a>
          <a
            href="https://www.linkedin.com/sharing/share-offsite/?url=<%= encodeURIComponent(apiUrl + '/poems/' + poem._id) %>"
            target="_blank"
            class="share-linkedin"
          >
            <%= translations.shareLinkedIn %><br />
          </a>
          <a
            href="mailto:?subject=<%= translations.shareEmailSubject %>&body=<%= encodeURIComponent(translations.shareEmailBody + ' ' + apiUrl + '/poems/' + poem._id) %>"
            target="_blank"
            class="share-email"
          >
            <%= translations.shareEmail %><br />
          </a>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
